@plugin "daisyui" {
  themes: all;
}
@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
}

@theme {
  --font-sans: 'JetBrains Mono';
}

body {
  @apply font-sans transition-all duration-200 ease-in-out;
}
