@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}
@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}